.TApp {
  font-family: sans-serif;
  text-align: center;
}
html, #app{
    height: 100%;
	min-height: 100% !important;
}
* { padding: 0; margin: 0; }
#root {
	height: 100%  !important;
    min-height: 100% !important;
}
/* div.luckysheet-scrollbars{
  width: 96% !important;
} */